@import './base.css';

@font-face {
  font-family: GaramondRegular;
  src: url('./fonts/Garamond_Regular.ttf');
}
@font-face {
  font-family: GaramondLight;
  src: url('./fonts/Garamond_Light.ttf');
}

@font-face {
  font-family: GaramondBold;
  src: url('./fonts/Garamond_Bold.ttf');
}

@font-face {
  font-family: GaramondItalic;
  src: url('./fonts/Garamond_Italic.ttf');
}

body {
  font-family: GaramondRegular;
  font-size: 1.25rem;
  font-weight: normal ;
}

 /* smaller than 1024px width */
#app {
  max-width: 1280px;
  margin: 0 5rem;
  padding: 2rem;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* large screen */
@media (min-width: 1024px) {
  #app {
    display: grid;
    /* left fixed for menu, right takes the rest of space */
    grid-template-columns: 400px 1fr;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;

